*{
    box-sizing: border-box;
    margin: 0;
}

@font-face {
    font-family: "VremenaGrotesk";
    src: url(font/VremenaGroteskBook.woff) format('woff');
    font-weight: lighter;
}

@font-face {
    font-family: "VremenaGrotesk";
    src: url(font/VremenaGroteskBold.woff) format('woff');
    font-weight: bold;
}


:root {
    --red:#9B372C;
    --green:#173224;

    --border:.06rem solid black;

    --underline-wh: underline solid white .2rem;
    --underline-bl: underline solid black .2rem; 

    font-size: 1vw;
}

body img {
    filter: grayscale(100%);
}

html{
    font-family: VremenaGrotesk;
    font-weight: lighter;
}

.bold {
    font-weight: bold;
}

h1 {
    text-transform: uppercase;
}


/* /////////////// INTRODUCTION //////////////// */

/* stiky text */

.introduction {
    position: relative;
}
.text {
    width: 70vw;
    height: 100vh;
    
    position: -webkit-sticky;
    position: sticky;
    top: 1vw;
    z-index: 1;
}
.introduction-title {
    text-transform: uppercase;
    font-size: 15vw;

    margin: 1vw 0 0 1vw;
}

.introduction-subtitle {
    text-transform: uppercase;
    font-size: 5vw;

    color:var(--red);

    margin: 0 0 0 1vw;
}

/* scrolling mounth images */

.images {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    margin-right: 0;
    margin-top: -74vh;
}

.images>img {
    max-width: 85vw;

    margin: 1vw 0 1vw 1vw;
}

/* ////////////HOMEPAGE///////////// */

/* header */

.wrapper {
    position:relative;
}

.header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1;

    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);

    padding: 2vh 0;
}

.menu-text {
    display: flex;
    justify-content: space-between;
    
    margin: 0;
    
    font-size: 3vw;
}

.menu-text a {
    color: black;
    text-decoration: none;
}

summary::marker {
    color: transparent;
}

.language {
    display: flex;

    margin-right: 2vw;
}

.language li a{
    font-size: 1.5vw ;

    color:black;
    text-decoration: none;
    border-right: var(--border);
    
    padding: 0 .5vw;
    margin-right: .5vw;
}

li::marker {
    color: transparent;
}

/* menu */

.menu-text>details[open] {
    background-color: var(--red);

    position: absolute;
    top:0;
   
    width: 100vw;
    
    padding-bottom: 3vw;
}

.menu-text>details[open]>summary {
    padding-top: 2vh;

    color:white;
    text-decoration: underline solid white .2rem;
}

.menu {
    margin: 2vw 2vw 0 2vw;
}

.menu-text>details[open] .link>a {
    font-size: 1vw;
    font-weight: bold;

    display: flex;
    justify-content: flex-end;

    margin-bottom: 2vw;
}

.menu-text>details[open] .link>a:hover {
    text-decoration: underline;
}

.menu-text>details[open] li {
    display:flex;
    justify-content: space-between;
}

.menu-text>details[open] a  {
    font-weight: lighter;
    font-size: 1.5vw;
    
    color: white;
    text-decoration: none;
}

.menu-text>details[open] a:hover {
    text-decoration: underline;
}

.menu-text>details[open] li {
    font-weight: bold;
    font-size: 1.2vw;
    line-height: 2.5vw;
    
    color: white;
    text-decoration: none;
    border-bottom: .06rem solid white;
}

.menu-text>details[open] .uppercase {
    text-transform: uppercase;
    font-weight: bold;
}

/* page title */

h1 {
    font-weight: lighter;
    font-size: 12vw;

    padding: 6vw 0;

    margin: 2vw 2vw 0 2vw;

    border-top: var(--border);
}

/* headline */

marquee {
    text-transform: uppercase;
    font-size: 2vw;

    padding-top: .9vw;

}

hr {

    margin: 0 2vw 0 2vw;
}

/* highlights */

.highlights {
    margin: 0 2vw 4vw 2vw;
}

h2 {
    margin-top: 7vw;

    font-size: 7vw;
    font-weight: lighter; 
}

.highlights>hr {
    margin: 0;
}

.highlights-news {
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    overflow-x: scroll;

    gap: 2vw;

    margin-top: 2vw;
}

.highlights-tile {
    width: 35vw;
}

.highlights-tile .mounth{
    font-size: 2vw;
}

.highlights-tile>img {
    width:35vw;
    height: auto;
}

.highlights-tile>a {
    font-weight: lighter;
    font-size: 2vw;
    line-height: 2.5rem;
    
    text-transform: uppercase;
    
    width: 80%;
    
    color: black;
    text-decoration: none;
}

.highlights-tile:hover a{
    text-decoration: underline solid black .2rem;
}

.date {
    font-size: 1.2vw;
    font-weight: lighter;
    line-height: 2.5rem;

    color: rgb(167, 165, 165);
    text-transform: uppercase;
}

/* timeline section sticky text */

.hmw-change {
    position: relative;

    margin: 0 5vw;

    display: flex;

}

.hmw-change>h4 {
    font-size: 12vw;
    font-weight: lighter;
    
    text-transform: uppercase;

    flex-grow: 3;
    height: 100vh;

    position: -webkit-sticky;
    position: sticky;
    top: 5vw;
   
}

/* timeline section timeline */

.goal>p {
    font-size: 1.5vw;
    font-weight: bold;
}

.timeline {
    position: relative;
    
    max-width: 10vw;
    
    margin: 2vw auto;
}

.timeline::after {
    content: '';
    
    position: absolute;
    
    width: .15vw;
    top: 0;
    bottom: 0;
    left: 50%;
    
    background-color: black;
  }

  .goal-tile {
    position: relative;
    
    width: 50%;
    
  }

  .goal-tile::after {
    content: '';
    
    position: absolute;
   
    width: .7vw;
    height: .7vw;
    right: -.45vw;
    background-color: black;
    top: 2vw;
    border-radius: 50%;
    z-index: 1;
  }

.text-column {
    width: 15vw;

    position:relative;
    left:-10.5vw;
}

.text-column>h3 {
    font-size: 1.2vw;
    font-weight: lighter;

    margin-bottom: 1vw;
}

.text-column>p {
    font-size: 1vw;
    font-weight: lighter;

    margin-bottom: 2vw;
}

.goal-tile-content>img {
    width: 15vw;

    position:relative;
    left: 6.5vw;

    margin-bottom: 2vw;
}

/* actions */

.action-accordion summary {
    margin: 7vw 0 0 0;

    font-size: 7vw;
    font-weight: lighter; 
    
    text-transform: uppercase;
}

.action-accordion summary::after {
    content: url("../img/icon/chevron-down.svg");
}

.action-accordion>details[open]>summary::after {
    transform:rotate(180deg);

    transition: transform .5s ease-out;
}

.action-accordion>hr {
    margin: 0;
}

.actions {
    margin: 0;

    background-color: var(--green);
    color:white;
}

.action-tile {
    display: flex;
}

.action-tile>img {
    width: 60vw;

    margin: 2vw;
}

.action-tile-text {
    margin: 2vw 0;

    max-width: 30vw;
}

.action-tile-text>a{
    font-size: 3vw;
    
    color: white;
    text-decoration: none;

    margin-bottom: 2vw;
}

.action-tile-text>p {
    font-weight: lighter;

    margin-top:2vw;
}

/* Footer */

footer {
    display: flex;
    flex-wrap: wrap;

    
    margin: 4vw;
    width: 92vw;
    border-top: .06vw solid black;
    border-bottom: .06vw solid black;
    
}

footer>a {
    font-size: 2vw;
    font-weight: lighter;
    text-decoration: none;
    color: black;
    text-transform: uppercase;

    padding: .5vw 1vw;
}

footer>a:hover {
    text-decoration: underline solid black .2rem;
}


/* //////////////////// ARCHIVE & ISSUES ///////////////////////////// */
body.page-action h1{
    width: 100vw;
}

.archive-wrapper .archive {
    display: grid;
    grid-template-columns: repeat(3, 33%);
    grid-template-rows: auto;
    
    width:96vw;
    margin:4vw 2vw;
}

.single-action-wrapper .single-action {
    display: grid;
    grid-template-columns: repeat(3, 33%);
    grid-template-rows: auto;
    
    width:96vw;
    margin:4vw 2vw;
}

.tile {
    display: grid;
    justify-items: center;
    color: #000;
    text-decoration: none;

    padding: 2vw;
}

.tile > * {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.bg-img {
    filter: none;
    opacity: 0;
    
    width: 100%;
    height: auto;
    
    filter: grayscale(1);
}

.code {
    padding: 2vw;
    justify-self: start;
}

.action-ref {
    padding: 2vw;
    align-self: end;
    text-transform: uppercase;
    color: var(--red);
    
    opacity: 0;
}

.title {
    text-transform: uppercase;
    font-weight: lighter;
    font-size: 3vw;
    align-self: center;
}

.tile:hover .bg-img {
    opacity: 1;
    transition: opacity .2s ease-in-out;
    z-index:-1;
}

.tile:hover .action-ref {
    opacity: 1;
}

.tile:hover .title {
    opacity: 0;
}

/* ////////////////////////////////// ARTICLES //////////////////////////////// */

.article-wrapper h1 {
    text-transform: uppercase;
}

.article-body {
    width:96vw;

    margin: 4vw 2vw;

    position: relative;

    display: flex;
}

p.text-article {
    position: -webkit-sticky;
    position: sticky;
    top: 5vw;

    height:fit-content;
    padding: 1vw;
    
    line-height: 1.3vw;
}

img {
    padding: 1vw;

    width: 60vw;
}

p.text-article a {
    text-transform: uppercase;
    color: black;
    text-decoration: none;
    
    font-weight: bold;
}

p.text-article a:hover {
    text-decoration: underline;
}

/* /////////////// BINDING //////////////// */

.binding {
    width: 96vw;
    height: 50vw;

    margin: 7vw 2vw;
}




/* /////////////// MEDIA QUERIES //////////////// */

@media only screen and (max-width: 812px)  
{
    p.introduction-title {
        font-size: 30vw;
    }
    p.introduction-subtitle {
        font-size: 15vw;
    }
    .images>img {
        width: 90vw;
    }

    /* homepage */

    .menu-text p  {
        font-size: 5vw;
    }

    .language a {
        font-size: 45px;
    }

    .menu-text>details[open] a {
        font-size: 3vw;
    }

    .menu-text>details[open] li {
        line-height: 3.5vw;
    }

    /* highlights */

    .highlights-tile {
        width: 55vw;
    }

    .highlights-tile>img {
        width:55vw;
        height: auto;
    }

    .highlights-tile>a {
        font-size: 3vw;
        line-height: 3.5vw;
    }

    .highlights-tile .date{
        font-size: 2vw;
    }

    /* timeline */

    .hmw-change {
        display: inline;
    }

    .hmw-change>h4 {
        height: auto;
        margin-left: 2vw;
    }



    .goal>p {
        font-size: 2.5vw;
        
        margin-left: 2vw;
        margin-top: 2vw;
    }

    .timeline {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
    
        overflow-x: scroll;
    
        gap: 3vw;
    
        margin-left: 2vw;

        max-width: fit-content;
    }

    .timeline::after {
       display: none;
    }

    .goal-tile {
        width:50vw;
    }
    
    .text-column {
        left:0;
    }

    .goal-tile::after {
        display: none;
    }

    .goal-tile-content>img {
        left:0;

    }

    .goal-tile-content {
        display:flex;
    }

    .text-column>p {
        font-size: 2vw;
    }

    .text-column>h3 {
        font-size: 2.5vw;
    }

    .goal-tile-content>img {
        height:fit-content;

        margin: 0 2vw;
    }

    /* action */

    .action-accordion summary::after {
        content: url("../img/icon/chevron-down-mobile.svg");
    }

    .action-tile-text>p {
        font-size: 2.5vw;
    }

   summary::marker {
      color: rgba(255, 255, 255, 0);

      width: 0;
      height: 0;
    }

    .action-accordion summary {
        margin: 0;
    }


    /* archive & issues */

    .archive-wrapper .archive {
        grid-template-columns: repeat(2, 50%);
    }

    .single-action-wrapper .single-action {
        grid-template-columns: repeat(2, 50%);
    }

    .tile .bg-img {
        opacity: 1;
        z-index:-1;
    }

    .tile .action-ref {
        opacity: 1;

        font-size: 2.5vw;

        filter:drop-shadow(0 0 0.25rem white);
    }

    .single-action h3.title {
        margin-left: 2vw;

        color: var(--red);
        filter:drop-shadow(0 0 0.25rem white);
    }

    .single-action p.action-ref {
        display:none;
    }

    /* articles */

    img {
        width: 50vw;

        position: -webkit-sticky;
        position: sticky;
        top: 10vw;

        height:fit-content;
        padding: 1vw;
    }

    p.text-article {
        font-size: 3vw;

        line-height: 3.5vw;

        position:relative;
    }
}