*{
    box-sizing: border-box;
}

@font-face {
    font-family: "VremenaGrotesk";
    src: url(font/VremenaGroteskBook.woff) format('woff');
}
@font-face {
    font-family: "VremenaGrotesk";
    src: url(font/VremenaGroteskBookItalic.woff) format('woff');
    font-style: italic;
}
@font-face {
    font-family: "VremenaGrotesk";
    src: url(font/VremenaGroteskBold.woff) format('woff');
    font-weight: bold;
}
@font-face {
    font-family: "VremenaGrotesk";
    src: url(font/VremenaGroteskBoldItalic.woff) format('woff');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: "VremenaGrotesk";
    src: url(font/VremenaGroteskMedium.woff) format('woff');
    font-weight: medium;
}
@font-face {
    font-family: "VremenaGrotesk";
    src: url(font/VremenaGroteskMediumItalic.woff) format('woff');
    font-weight: medium;
    font-style: italic;
}

:root {
    --red:#9B372C;
    --green:#173224;
}

html{
    font-family: VremenaGrotesk;
}